POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

BLOB_READ_WRITE_TOKEN=

AUTH_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=

NEXT_PUBLIC_SITE_URL=https://vandanaskindiary.com
